functions-framework==3.5.0
google-cloud-pubsub
azure-storage-blob
pandas
PyQt5
keras==2.11.0
opencv-python
tensorflow==2.14.0
matplotlib
python-Levenshtein
scikit-learn
fuzzywuzzy
scipy
PyPDF2
PyMuPDF
Pillow
aiohttp